<!-- <nz-layout class="layout">
    <nz-sider #sider nzWidth="200px" nzCollapsible nzCollapsed="true">
        <div class="logo">
            <ng-container *ngIf="sider.nzCollapsed; else l">
                <img src="assets/Default_CA_TriCon_CO_Web.png" />
            </ng-container>
            <ng-template #l>COMMANDbatch</ng-template>
        </div>
        <ul nz-menu nzMode="inline">
            <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
                <ul>
                    <li nz-menu-item nzSelected>option1</li>
                    <li nz-menu-item>option2</li>
                    <li nz-menu-item>option3</li>
                    <li nz-menu-item>option4</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="right-layout">
        <nz-header>
            <div class="status">
            <i nz-icon nzType="filter" nzTheme="outline"></i>
            <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
            <i nz-icon nzType="filter" nzTheme="outline"></i>
            <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
            </div>
            
        </nz-header>
        <nz-content>
        </nz-content>
    </nz-layout>
</nz-layout> -->
<div>
    <a routerLink="">welcome</a> | <a routerLink="selector">selector</a>

</div>
<router-outlet></router-outlet>
